# create requirements.txt with pip-compile (https://github.com/jazzband/pip-tools)
# pip install pip-tools
# pip-compile
redis
requests
python-dotenv
validators
tqdm
tldextract
regex
pymongo
dateparser
# for unshortener
beautifulsoup4
lxml
# to process tasks asynchronously (connection through redis)
celery
supervisor

uvicorn

# # things that exist because of Flask
# Werkzeug
# webargs
# marshmallow
# flask-restplus
# Flask-MonitoringDashboard
# flask-marshmallow
# Flask-Cors
# Flask
# cached-property
# gunicorn # web server or uvicorn ? FastAPI

# FastAPI alternative
fastapi