# create requirements.txt with pip-compile (https://github.com/jazzband/pip-tools)
# pip install pip-tools
# pip-compile
redis
requests==2.28.2 # otherwise resolver gets 2.2.8.2 --> certifi==2019.3.9 CVE-2022-23491
python-dotenv
validators
tqdm
tldextract==3.4.0 # tldextract==2.2.1 has CVE-2022-40897
regex
pymongo
dateparser
# for unshortener
beautifulsoup4
lxml
# to process tasks asynchronously (connection through redis)
celery
supervisor # supervisor==4.2.5 has CVE-2022-40897, but it's the latest

uvicorn

# # things that exist because of Flask
# Werkzeug
# webargs
# marshmallow
# flask-restplus
# Flask-MonitoringDashboard
# flask-marshmallow
# Flask-Cors
# Flask
# cached-property
# gunicorn # web server or uvicorn ? FastAPI

# FastAPI alternative
fastapi