# create requirements.txt with pip-compile (https://github.com/jazzband/pip-tools)
# pip install pip-tools
# pip-compile --resolver=backtracking
redis
requests
celery
python-dotenv
gunicorn
Werkzeug
webargs
validators
tqdm
tldextract
supervisor==4.2.5
regex
pymongo==4.3.3
marshmallow
flask-restplus
Flask-MonitoringDashboard
flask-marshmallow
Flask-Cors
Flask
dateparser==1.1.7
cached-property
beautifulsoup4
lxml